<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="e2eTestcases" >
    <test name="chrome testing">
        <parameter name="userName" value="akhiljda@gmail.com"></parameter>
        <parameter name="password" value="Password"></parameter>
        <classes>
            <class name="in.podtest.testng.E2ETestcases">

            </class>
        </classes>
    </test>
</suite>